/* main */

/* main nav-bar */

.main-nav-bar {
    width: 1230px;
    margin: 0 auto 65px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-nav-bar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav-bar ul li div {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    justify-content: center;
}

.first-row-category {
    display: flex;
    align-items: center;
    gap: 69px;
}

.first-item {
    width: 246px;
    height: 204px;

}

.second-item {
    width: 600px;
    height: 204px;
}

.third-item {
    width: 246px;
    height: 204px;
}

.second-row-category {
    display: flex;
}

.fourth-item {
    width: 1230px;
    height: 160px;
}

.third-row-category {
    display: flex;
    gap: 75px
}

.fifth-item {
    width: 578px;
    height: 204px;
}

.sixth-item {
    width: 577px;
    height: 204px;
}

section {
    width: 1075px;
    margin: 0 auto 65px;
}

h2 {
    text-align: center;
    margin: 0 0 65px 0;
}

.drinks-list {
    display: flex;
    gap: 65px;
    flex-wrap: wrap;
}

.drinks-list-item {
    padding: 30px 18px 28px 29px;
    box-shadow: 0 0 50px rgba(37, 37, 37, 0.14);
    border-radius: 60px;
    width: 268px;
}

.container-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    margin-right: 20px;
}

.container-images img {
    min-height: fit-content;
    min-width: fit-content;
}

.star-counter {
    display: flex;
}

.star-number {
    margin: 3px 0 0 4px;
}

.drinks-list-item h3 {
    margin: 0 0 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-container p {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.price-container del {
    font-size: 12px;
    line-height: 15px;
}

.price-container ins {
    color: #EF0A0A;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.button-to-cart {
    border: 2px solid rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    color: #0A4841;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    height: 33px;
    width: 162px;
    background: white;
    text-align: center;
}

.amount-button {
    width: 80px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #CACACA;
    border-radius: 30px;
    padding: 3px 10px;
}

.amount-button p {
    margin: 0;
}

.amount-button button {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background: none;
}