/* main */

.main {
    width: 1230px;
    margin: 0 auto;
    height: 100%;
}

.main-container {
    display: flex;
}

.cart-content-container {
    width: 745px;
    margin-right: 95px;
}

.cart-titles-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.cart-line {
    border-top: 2px solid #CACACA;
    margin-bottom: 35px;
}

.cart-list-item-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.item-description {
    display: flex;
}

.item-description img {
    border-radius: 50px;
    margin-right: 23px;
}

.item-description-text h3 {
    margin: 0 0 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.additives-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #747474;
}

.price {
    margin: 0 0 55px;
    text-align: center;
}

.amount-button {
    width: 80px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #CACACA;
    border-radius: 30px;
    padding: 3px 10px;
}

.amount-button p {
    margin: 0;
}

.amount-button button {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    background: none;
}

.payment-container {
    width: 328px;
}

.payment-method {
    margin-bottom: 60px;
}

.payment-method h3 {
    margin: 0 0 10px;
}

.chosen-method {
    display: flex;
    align-items: center;
}

.chosen-method-image {
    display: block;
    margin-right: 10px;
}

.chosen-method p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: auto;
}

.chosen-method button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: rgba(202, 202, 202, 0.41);
    padding: 7px 21px;
    border: none;
    border-radius: 15px;
}

.total-container p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.total-container h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 8px;
}

.total-line-first {
    width: 315px;
    border: 2px solid #CACACA;
    margin-bottom: 30px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.promo-code {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.promo-code-area {
    width: 148px;
    border: 2px solid #CACACA;
    border-radius: 18px;
    padding: 4px 4px 4px 15px;
}

.promo-code-area label {
    display: flex;
    justify-content: space-between;
}

.promo-code-input {
    width: 100px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.promo-code-button {
    width: 29px;
    height: 29px;
    padding: 4px;
    background: #CACACA;
    border-radius: 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-code-button img {
    display: block;
}

.total-line-last {
    width: 315px;
    border: 2px solid #CACACA;
    margin-bottom: 15px;
}

#final-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}