.up-line-container {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

.personal-up-title {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
}

.personal-line {
    border: 2px solid #CACACA;
}

.main-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.personal-account-left-container {
    width: 255px;
    display: flex;
    flex-direction: column;
    margin-right: 89px;
}

.personal-avatar {
    padding: 15px;
    width: 135px;
    height: 135px;
    display: block;
}

.personal-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 49px;
}

.personal-account-nav-list {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.personal-account-nav-list a {
    font-size: 24px;
    line-height: 29px;
}

.active-link {
    pointer-events: none;
    cursor: default;
    color: #AB9169;
    font-weight: bold;
}

.order-history-right-container {
    margin-top: 20px;
}

.months-list {
    display: flex;
    gap: 110px
}

.months-list-item {
    width: 386px;
}

.months-list-item h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
}

.low-opacity-text {
    color: #CACACA;
}

.order-list-item-container {
    display: flex;
}

.status-image {
    margin: 0 16px 0 10px;
}

.order-list-item-middle-container {
    margin-right: 69px;
}

.status-text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.order-date {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.total-price {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.order-list-line {
    width: 386px;
    border-bottom: 1px solid #CACACA;
    margin: 30px 0;
}