.up-line-container {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

.personal-up-title {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
}

.personal-line {
    border: 2px solid #CACACA;
}

.main-container{
    display: flex;
    justify-content: space-between;
}

.personal-account-left-container {
    width: 255px;
    display: flex;
    flex-direction: column;
}

.personal-avatar {
    padding: 15px;
    width: 135px;
    height: 135px;
    display: block;
}

.personal-name {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 49px;
}

.personal-account-nav-list {
    display: flex;
    gap: 18px;
    flex-direction: column;
}

.personal-account-nav-list a {
    font-size: 24px;
    line-height: 29px;
}

.active-link {
    pointer-events: none;
    cursor: default;
    color: #AB9169;
    font-weight: bold;
}

.order-history-right-container {
    height: 1234px;
}