{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'cart/css/style.css' %}">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="main-container">
            {% if baskets %}
                <div class="cart-content-container">
                    <div class="cart-titles-container">
                        <p class="cart-title">
                            Товар
                        </p>
                        <p class="cart-title">
                            Цена
                        </p>
                    </div>
                    <div class="cart-line"></div>
                    <ul class="cart-list">
                        {% for basket in baskets %}
                            <li class="cart-list-item">
                                <div class="cart-list-item-container">
                                    <div class="item-description">
                                        <div class="item-image"><img src="{{ basket.product.image.url }}" alt="{{ basket.product.name }}"></div>
                                        <div class="item-description-text">
                                            <h3>{{ basket.product.name }}</h3>
                                            <ul class="additives-list">
                                                <li class="additives-list-item">

                                                </li>
                                                <li class="additives-list-item">

                                                </li>
                                                <li class="additives-list-item">

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-price">
                                        <p class="price">{{ basket.sum }} руб.</p>
                                        <div class="amount-button">
                                            <button><a class="btn btn-outline-success"
                                                       href="{% url 'basket_deletion' basket.product_id %}">-</a>
                                            </button>
                                            <p>{{ basket.quantity }}</p>
                                            <button><a class="btn btn-outline-success"
                                                       href="{% url 'basket_add' basket.product_id %}">+</a></button>
                                        </div>

                                    </div>
                                </div>
                                <div class="cart-line"></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="cart-content-container">
                    <div class="cart-titles-container">
                        <p class="cart-title">
                            Корзина пуста :(
                        </p>

                    </div>
                    <div class="cart-line"></div>
                    <ul class="cart-list">
                    </ul>
                </div>
            {% endif %}
            <div class="payment-container">
                <div class="payment-method">
                    <h3 class="payment-method-titles">Способ оплаты</h3>
                    <div class="chosen-method">
                        <img class="chosen-method-image" src="{% static 'cart/img/mastercard.png' %}" alt="MasterCard"
                             width="47" height="28">
                        <p>***1234</p>
                        <button id="modalChangePayment">Изменить</button>
                        <div class="modal-change-payment">
                            <div class="modal-change-payment-content">
                                <h3 class="modal-change-payment-title">Способ оплаты</h3>
                                    <form>
                                        <!-- Здесь нужно вывод имеющихся карт: нажатие обновляет страницу и метод оплаты-->
                                        <div class="radio-button">
                                            <div class="radio-button-image"><img src="{% static 'cart/img/logos_mastercard.svg' %}"></div>
                                                <label for="card_1">MasterCard  ***1234</label>
                                            <input id="card_1" type="radio" name="payment" value="" checked>
                                        </div>
                                        <!-- По образцу между комментариев-->
                                        <div class="radio-button">
                                            <div class="radio-button-image"><img src="{% static 'cart/img/SBP.png' %}"></div>
                                            <label for="SBP">СБП</label>
                                            <input id="SBP" type="radio" name="payment" value="">
                                        </div>
                                        <div class="radio-button">
                                            <div class="radio-button-image"><img src="{% static 'cart/img/cash.svg' %}"></div>
                                            <label for="cash">Наличные</label>
                                            <input id="cash" type="radio" name="payment" value="">
                                        </div>
                                        <button id="close-modal-payment" type="submit">
                                            Выбрать
                                        </button>
                                    </form>
                                <a class="link-add-card" href="{% url 'addcart' %}">Добавить новую карту</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="where-to-eat">
                    <h3 class="payment-method-titles">Сервировка</h3>
                    <div class="where-to-eat-radio-buttons">
                        <div class="where-to-eat-radio-button">
                            <input name="where-to-eat" id="restaurant" type="radio">
                            <label for="restaurant">В ресторане</label>
                        </div>
                        <div class="where-to-eat-radio-button">
                            <input name="where-to-eat" id="takeaway" type="radio">
                            <label for="takeaway">С собой</label>
                        </div>
                    </div>
                </div>
                <div class="address">
                    <h3 class="payment-method-titles">Адрес</h3>
                    <select class="address-select">
                        <option>Красноярск, Мира, 96</option>
                        <option>Красноярск, Батурина, 13</option>
                    </select>
                </div>
                <div class="total-container">
                    <h3 class="payment-method-titles">
                        ИТОГ
                    </h3>
                    <div class="total-line-first"></div>
                    <div class="total-price">
                        <p>
                            Стоимость товаров
                        </p>
                        <p>
                            {{ baskets.total_sum }} руб.
                        </p>
                    </div>
                    <div class="promo-code">
                        <p>
                            Промокод
                        </p>
                        <div class="promo-code-area">
                            <label>
                                <input class="promo-code-input" rel="">
                                <button class="promo-code-button" rel="submit">
                                    <img src="{% static 'cart/img/check_mark.png' %}" width="18" height="13"
                                         alt="Применить">
                                </button>
                            </label>
                        </div>
                    </div>
                    <div class="total-line-last"></div>
                    <p id="final-price">{{ baskets.total_sum }} руб.</p>
                    <form action="{% url 'cart' %}" method="post">
                        {% csrf_token %}
                        <label for="{{ form.address.id_for_label }}">
                            {{ form.address }}
                            <button type="submit" class="make-order" href=>Заказать</button>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="{% static 'cart/js/script.js' %}"></script>
{% endblock %}