{% extends 'main/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'personalaccount/css/style.css' %}">
{% endblock %}

{% block content %}
    <main>
    <div class="up-line-container">
        <h2 class="personal-up-title">Личный кабинет</h2>
        <a class="log-out" href="{% url 'logout' %}">Выйти</a>
    </div>
    <div class="personal-line"></div>
    <div class="main-container">
        <div class="personal-account-left-container">
            <img class="personal-avatar" src="{% static 'personalaccount/img/avatar_account.svg' %}" width="112" height="112">
            <p class="personal-name">{{ user.first_name }}</p>
            <ul class="personal-account-nav-list">
                <li class="personal-account-nav-list-item">
                    <a class="personal-account-nav-link active-link">
                        Текущий заказ
                    </a>
                </li>
                <li class="personal-account-nav-list-item">
                    <a class="personal-account-nav-link" href="{% url 'profile' user.id %}">
                        Личные данные
                    </a>
                </li>
                <li class="personal-account-nav-list-item">
                    <a class="personal-account-nav-link" href="{% url 'orderhistory' %}" >
                        История заказов
                    </a>
                </li>
            </ul>
        </div>
        <div class="personal-account-right-container">



        </div>
    </div>
    </main>
{% endblock %}