<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta lang="ru">
  <meta name="keywords" content="Академия Кофе, кофейня, меню"/>
  <meta name="description" content="Академия Кофе"/>
  <link rel="icon" href="../akademiacoffee-favicon.png">
  <title>Меню</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <header class="main-header">
    <nav class="nav-bar">
      <a class="nav-bar-item logo" href="../home/index.html">
        <img src="img/logo.svg" width="200" height="33"
             alt="Логотип">
      </a>
      <div class="container-middle">
        <p>Меню</p>
        <a class="nav-bar-item" href="#">О нас</a>
        <a class="nav-bar-item" href="#">Акции</a>
      </div>
      <div class="container-right">
        <a class="nav-bar-item cart" href="../cart/cart.html">Корзина</a>
        <a class="nav-bar-item" href="#">
          <img src="img/personal_account.svg" width="33" height="33" alt="Личный кабинет">
        </a>
      </div>
    </nav>
  </header>
  <main class="main">
    <nav class="main-nav-bar">
      <ul class="first-row-category">
        <li>
          <a href="#cold-drinks"><div class="first-item">ХОЛОДНЫЕ НАПИТКИ</div></a>
        </li>
        <li>
          <a href="#author-drinks"><div class="second-item">АВТОРСКИЕ НАПИТКИ</div></a>
        </li>
        <li>
          <a href="#hot-drinks"><div class="third-item">ГОРЯЧИЕ НАПИТКИ</div></a>
        </li>
      </ul>
      <ul class="second-row-category">
        <li>
          <a href="#seasonal-drinks"><div class="fourth-item">СЕЗОННЫЕ НАПИТКИ</div></a>
        </li>
      </ul>
      <ul class="third-row-category">
        <li>
          <a href="#to-coffee"><div class="fifth-item">К КОФЕ</div></a>
        </li>
        <li>
          <a href="#our-kitchen"><div class="sixth-item">НАША КУХНЯ</div></a>
        </li>
      </ul>
    </nav>
    <section id="seasonal-drinks">
      <h2>СЕЗОННЫЕ НАПИТКИ</h2>
      <ul class="drinks-list">
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price discount">
              <del>220 руб.</del>
              <ins>170 руб.</ins>
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
      </ul>
    </section>
    <section id="hot-drinks">
      <h2>ГОРЯЧИЕ НАПИТКИ</h2>
      <ul class="drinks-list">
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
      </ul>
    </section>
    <section id="cold-drinks">
      <h2>ХОЛОДНЫЕ НАПИТКИ</h2>
      <ul class="drinks-list">
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
      </ul>
    </section>
    <section id="author-drinks">
      <h2>АВТОРСКИЕ НАПИТКИ</h2>
      <ul class="drinks-list">
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
      </ul>
    </section>
    <section id="to-coffee">
      <h2>К КОФЕ</h2>
      <ul class="drinks-list">
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/бейгл.png" width="197" height="182" alt="Бейгл с омлетом">
          </div>
          <h3>
            Бейгл с омлетом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
      </ul>
    </section>
    <section id="our-kitchen">
      <h2>НАША КУХНЯ</h2>
      <ul class="drinks-list">
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/Латте_Итальянская_Фисташка.png" width="93" height="166" alt="Латте Итальянская Фисташка">
          </div>
          <h3>
            Латте Итальянская Фисташка
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/чай_абрикосовый_с_дубом.png" alt="Чай абрикосовый с дубом">
          </div>
          <h3>
            Чай абрикосовый с дубом
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
        <li class="drinks-list-item">
          <div class="container-images">
            <div class="star-counter">
              <img src="img/star.png" width="24" height="24" alt="Звезда">
              <p class="star-number">
                4.5
              </p>
            </div>
            <img src="img/домашний_лимонад.png" alt="Домашний лимонад">
          </div>
          <h3>
            Домашний лимонад
          </h3>
          <div class="price-container">
            <p class="price">
              220 руб.
            </p>
            <button class="button-to-cart">
              Добавить в корзину
            </button>
          </div>
        </li>
      </ul>
    </section>
  </main>
  <footer class="main-footer">
    <div class="main-footer-container">
      <a href="../home/index.html"><img class="bottom-logo" src="img/bottom_logo.svg" width="74" height="74" alt="Логотип"></a>
      <ul class="main-footer-nav">
        <li>
          <a class="main-footer-link">Меню</a>
        </li>
        <li>
          <a href="#" class="main-footer-link">О нас</a>
        </li>
        <li>
          <a href="#" class="main-footer-link">Контакты</a>
        </li>
        <li>
          <a href="#" class="main-footer-link">Адреса</a>
        </li>
      </ul>
      <ul class="socials-list">
        <li>
          <a href="#"><img src="img/telegram.svg" width="31" height="28" alt="Телеграм"></a>
        </li>
        <li>
          <a href="#"><img src="img/vk.svg" width="30" height="28" alt="VK"></a>
        </li>
      </ul>
      <div class="contacts">
        <a href="tel:+78000000000">8(800)000-00-00</a>
        <a href="mailto:nazvaniecofeyni@yandex.ru">nazvaniecofeyni@yandex.ru</a>
      </div>
    </div>
  </footer>
</body>
</html>