{% extends 'main/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'orderhistory/css/style.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="up-line-container">
        <h2 class="personal-up-title">История заказов</h2>
            <a class="log-out">Выйти</a>
    </div>
    <div class="personal-line"></div>
<div class="main-container">
    <div class="personal-account-left-container">
        <img class="personal-avatar" src="{{ personalaccount.image.url }}" width="120" height="120">
        <p class="personal-name">{{ personalaccount.name }}Филипчук Филипп</p>
        <ul class="personal-account-nav-list">
            <li class="personal-account-nav-list-item">
                <a class="personal-account-nav-link" href="#" >
                    Текущий заказ
                </a>
            </li>
            <li class="personal-account-nav-list-item">
                <a class="personal-account-nav-link"  href="{% url 'profile' %}">
                    Личные данные
                </a>
            </li>
            <li class="personal-account-nav-list-item">
                <a class="personal-account-nav-link active-link">
                    История заказов
                </a>
            </li>
        </ul>
    </div>
    <div class="order-history-right-container">
        <ul class="months-list">
            <li class="months-list-item">
                <h3>
                    Апрель <span class="low-opacity-text">2023</span>
                </h3>
                <ul class="order-list">
                    <li class="order-list-item waiting">
                        <div class="order-list-item-container">
                            <img class="status-image" src="{% static 'orderhistory/img/waiting.svg' %}">
                            <div class="order-list-item-middle-container">
                                <p class="status-text">Ожидает</p>
                                <p class="order-date">14 мая 2023, 15:00</p>
                            </div>
                                <p class="total-price">249 руб.</p>
                        </div>
                        <div class="order-list-line"></div>
                    </li>
                    <li class="order-list-item done">
                        <div class="order-list-item-container">
                            <img class="status-image" src="{% static 'orderhistory/img/done.svg' %}">
                            <div class="order-list-item-middle-container">
                                <p class="status-text">Получен</p>
                                <p class="order-date">4 мая 2023, 14:30</p>
                            </div>
                                <p class="total-price">379 руб.</p>
                        </div>
                        <div class="order-list-line"></div>
                    </li>
                    <li class="order-list-item canceled">
                        <div class="order-list-item-container">
                            <img class="status-image" src="{% static 'orderhistory/img/canceled.svg' %}">
                            <div class="order-list-item-middle-container">
                                <p class="status-text">Отмене</p>
                                <p class="order-date">1 мая 2023, 18:27</p>
                            </div>
                                <p class="total-price">125 руб.</p>
                        </div>
                        <div class="order-list-line"></div>
                    </li>
                </ul>
            </li>
            <li class="months-list-item">
                <h3>
                    Май <span class="low-opacity-text">2023</span>
                </h3>
                <ul class="order-list">
                    <li class="order-list-item waiting">
                        <div class="order-list-item-container">
                            <img class="status-image" src="{% static 'orderhistory/img/waiting.svg' %}">
                            <div class="order-list-item-middle-container">
                                <p class="status-text">Ожидает</p>
                                <p class="order-date">14 мая 2023, 15:00</p>
                            </div>
                                <p class="total-price">249 руб.</p>
                        </div>
                        <div class="order-list-line"></div>
                    </li>
                    <li class="order-list-item done">
                        <div class="order-list-item-container">
                            <img class="status-image" src="{% static 'orderhistory/img/done.svg' %}">
                            <div class="order-list-item-middle-container">
                                <p class="status-text">Получен</p>
                                <p class="order-date">4 мая 2023, 14:30</p>
                            </div>
                                <p class="total-price">379 руб.</p>
                        </div>
                        <div class="order-list-line"></div>
                    </li>
                    <li class="order-list-item canceled">
                        <div class="order-list-item-container">
                            <img class="status-image" src="{% static 'orderhistory/img/canceled.svg' %}">
                            <div class="order-list-item-middle-container">
                                <p class="status-text">Отмене</p>
                                <p class="order-date">1 мая 2023, 18:27</p>
                            </div>
                                <p class="total-price">125 руб.</p>
                        </div>
                        <div class="order-list-line"></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</main>
{% endblock %}