/*общие правила*/

* {
    font-family: 'Montserrat', Arial, sans-serif;
}

main {
    min-width: 1230px;
    margin: 0 auto auto;
    flex-grow: 1;
}

html {
    scroll-behavior: smooth;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    margin: 0 0 0 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

button:hover {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 0.5;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*header*/

.main-header{
    width: 1198px;
    margin: 25px auto 65px;
    font-size: 16px;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 200px;
    margin-right: 260px;
    align-items: center;
}

.logo img {
    display: block;
}

.container-middle {
    width: 292px;
    margin-right: 242px;
    display: flex;
    justify-content: space-between;
    gap: 54px;
    align-items: center;
}

.container-middle p {
    margin: 0;
}

.container-right {
    width: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart {
    border: 2px solid #252525;
    border-radius: 15px;
    padding: 5px 21px;
}

/*footer*/

.main-footer {
    margin: 65px auto 0;
    background: #F3F3F3;
    max-width: none;
    width: 100%;
}

.main-footer-container {
    width: 1230px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.bottom-logo {
    display: block;
    margin-right: 135px;
}

.main-footer-nav {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 70px;
    margin-right: auto;
}

.main-footer-link {
    font-size: 16px;
    line-height: 20px;
}

.socials-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 75px 0 0;
}

.contacts {
    width: 195px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    line-height: 15px;
    gap: 14px;
}