* {
    font-family: 'Montserrat', Arial, sans-serif;
}

main {
    min-width: 1230px;
    margin: 0 auto auto;
    flex-grow: 1;
}

html {
    scroll-behavior: smooth;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    background: rgba(232, 250, 248, 0.87);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a:active {
    opacity: 0.5;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

.alert {
    list-style-type: none;
}

.alert-warning {
    color: #EF0A0A;
}

.errorlist {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: -15px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
}

.main-container {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    background: #FFFFFF;
    border-radius: 40px;
    padding: 45px 40px;
    display: flex;
    flex-direction: column;
}

.form-wide-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.email-input {
    width: 850px;
    margin-bottom: 30px;
}

.up-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.return {
    height: 40px;
    margin-top: -20px;
    margin-right: -20px;
}

h2 {

}

label {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #747474;
    margin-bottom: 15px;
}

input {
    width: 395px;
    height: 40px;
    border: 1px solid #AFAFAF;
    border-radius: 40px;
    padding: 5px 15px;
    font-size: 20px;
}

button {
    margin: 30px auto 0;
    display: block;
    background: rgba(72, 212, 196, 0.29);
    border-radius: 40px;
    width: 850px;
    height: 42px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
    border: none;
}

.to-registration {
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

select {
    width: 395px;
    height: 40px;
    border: 1px solid #AFAFAF;
    border-radius: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 15px;
}